<div class="container">
  <div class="header text-center">
  <h1><%=@loan.status%> Overview</h1>
  </div>

<div class="table-description">
    <strong>Client Details</strong>
    </div>
        <div class="loan-flexbox">
          <div class="flexrow loans-header-row text-left">
              <div class="flexcell loans-header">
                First Name
              </div>
              <div class="flexcell loans-header">
                Last Name
              </div>
              <div class="flexcell loans-header">
                Mobile Number
              </div>
              <div class="flexcell loans-header">
                Address
              </div>
              <div class="flexcell loans-header">
                City
              </div>
              <div class="flexcell loans-header">
                Postcode
              </div>
          </div>
          <div class="flexrow loans text-left">
              <div class="flexcell loan-show-cell">
                <%= @loan.user.first_name %>
              </div>
              <div class="flexcell loan-show-cell">
                <%= @loan.user.last_name %>
              </div>
              <div class="flexcell loan-show-cell">
                <%= @loan.user.mobile_number %>
              </div>
              <div class="flexcell loan-show-cell">
                <%= @loan.user.address %>
              </div>
              <div class="flexcell loan-show-cell">
                <%= @loan.user.city %>
              </div>
               <div class="flexcell loan-show-cell">
                <%= @loan.user.postcode %>
              </div>
            </div>
          </div>
<br>
<br>
    <div class="table-description">
    <strong>Application Details</strong>
    </div>
        <div class="loan-flexbox">
          <div class="flexrow loans-header-row text-left">
              <div class="flexcell loans-header">
                Date of the Application
              </div>
              <div class="flexcell loans-header">
                Amount requested
              </div>
              <div class="flexcell loans-header">
                Category
              </div>
              <div class="flexcell loans-header">
                Purpose
              </div>
              <div class="flexcell loans-header">
                Date of the Decline
              </div>
              <div class="flexcell loans-header">
                Reason for the decline
              </div>
              <div class="flexcell loans-header" id="credit-score">
                Score
              </div>

          </div>
          <div class="flexrow loans text-left">
              <div class="flexcell loan-show-cell">
               <%= @loan.created_at.strftime("%e %b %Y") %>
              </div>
              <div class="flexcell loan-show-cell">
               <%= @loan.display_requested_capital %>
              </div>
              <div class="flexcell loan-show-cell">
                <%= @loan.category %>
              </div>
              <div class="flexcell loan-show-cell">
                <%= @loan.purpose %>
              </div>
              <div class="flexcell loan-show-cell">
                <%= @loan.updated_at.strftime("%e %b %Y") %>
              </div>
              <div class="flexcell loan-show-cell">
                <%= @loan.decline_reason %>
              </div>
              <div class="flexcell loan-show-cell" id="credit-score">
                <%= @loan.user.credit_score %>
              </div>
            </div>
          </div>


  <div class="links">
      <%= link_to 'Go back', bank_user_loans_path(anchor: "declined") %>
  </div>
</div>
