<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="text-center">
    <div class="text-center loan-header">
      <h2><%= (loan.user.credit_score.to_f * 100).to_i %>%</h2>
      <p>Amount: <strong><%= humanized_money_with_symbol(loan.requested_amount) %></strong></p>
    </div>
  </div>
</div>
<div class="modal-body modal-loan">

  <div class="loan-customer">
    <div class="info">
      <h3><%= loan.user.first_name %> <%= loan.user.last_name %></h3>
      <p><%= loan.user.city %></p>
    </div>

    <div class="tel">
      <i class="fa fa-mobile"></i> <%= loan.user.mobile_number %>
    </div>
  </div>

  <div class="loan-details">
    <div class="title">
      <h3>Loan details</h3>
      <span class="purpose"><%= loan.purpose %></span>, <span class="category"><%= loan.category %></span>, <span class="date"><%= loan.created_at.strftime("%e %b %Y") %></span>
    </div>
    <p class="description">
      <%= loan.description %>
    </p>
  </div>

  <div class="loan-form">
    <%= simple_form_for [current_bank_user, loan] do |f| %>
      <h3>Confirm loan amount</h3>
      <%= f.input :proposed_amount, label: false, input_html: {value: loan.requested_amount} %>
      <%= f.hidden_field :status, value: "Application Accepted" %>
      <div class="form-actions">
      <%= f.button :submit, "Accept", class: "btn btn-royal-blue" %>
      <%= link_to 'Decline', "#", class: "btn btn-red decline-trigger", 'target' => "#decline-form-#{loan.id}"%>
      </div>
    <% end %>

    <div class="hidden" id="decline-form-<%=loan.id%>">
      <%= simple_form_for [current_bank_user, loan] do |f| %>
        <%= f.error_notification %>
        <%= f.hidden_field :final_date, value: DateTime.now %>
        <%= f.input :decline_reason,
            hint: 'This field is mandatory' %>
        <%= f.hidden_field :status, value: "Application Declined" %>
        <%= f.submit "Decline Application", class: "btn btn-red" %>
      <% end %>
    </div>
  </div>

</div>


