<div class="container">
  <div class="header text-center">
  <h1><%=@loan.status%> Overview</h1>
  </div>

    <div class="table-description">
    <strong>Client Details</strong>
    </div>
        <div class="loan-flexbox">
          <div class="flexrow loans-header-row text-left">
              <div class="flexcell loans-header">
                First Name
              </div>
              <div class="flexcell loans-header">
                Last Name
              </div>
              <div class="flexcell loans-header">
                Mobile Number
              </div>
              <div class="flexcell loans-header">
                Address
              </div>
              <div class="flexcell loans-header">
                City
              </div>
              <div class="flexcell loans-header">
                Postcode
              </div>
          </div>
        <div class="loan-link">
          <div class="flexrow loans text-left">
              <div class="flexcell loans-cell">
                <%= @loan.user.first_name %>
              </div>
              <div class="flexcell loans-cell">
                <%= @loan.user.last_name %>
              </div>
              <div class="flexcell loans-cell">
                <%= @loan.user.mobile_number %>
              </div>
              <div class="flexcell loans-cell">
                <%= @loan.user.address %>
              </div>
              <div class="flexcell loans-cell">
                <%= @loan.user.city %>
              </div>
               <div class="flexcell loans-cell">
                <%= @loan.user.postcode %>
              </div>
            </div>
          </div>
        </div>
<br>
<br>
    <div class="table-description">
    <strong>Application Details</strong>
    </div>
        <div class="loan-flexbox">
          <div class="flexrow loans-header-row text-left">
              <div class="flexcell loans-header">
                Date of the Application
              </div>
              <div class="flexcell loans-header">
                Amount requested
              </div>
              <div class="flexcell loans-header">
                Category
              </div>
              <div class="flexcell loans-header">
                Purpose
              </div>
              <div class="flexcell loans-header">
                Description
              </div>
              <div class="flexcell loans-header" id="credit-score">
                Credit Score
              </div>
          </div>
        <div class="loan-link">
          <div class="flexrow loans text-left">
              <div class="flexcell loans-cell">
               <%= @loan.created_at.strftime("%e %b %Y") %>
              </div>
              <div class="flexcell loans-cell">
               <%= @loan.display_requested_capital %>
              </div>
              <div class="flexcell loans-cell">
                <%= @loan.category %>
              </div>
              <div class="flexcell loans-cell">
                <%= @loan.purpose %>
              </div>
              <div class="flexcell loans-cell">
                <%= @loan.description %>
              </div>
               <div class="flexcell loans-cell" id="credit-score">
                <%= @loan.user.credit_score %>
              </div>
            </div>
          </div>
        </div>

  <div class="links">
      <%= simple_form_for [current_bank_user, @loan] do |f| %>
       <%= f.input :proposed_amount, input_html: {value: @loan.requested_amount} %>
       <%#Ò= f.input :duration, placeholder: "12 months" %>
       <%= f.hidden_field :status, value: "Application Accepted" %>
        <div class="form-actions">
        <%= f.button :submit, "Accept", class: "btn btn-royal-blue" %>

        <%= link_to 'Decline', "#" , class: "btn btn-danger", 'data-toggle' => "modal", 'data-target' => "#decline-modal"%>
        <%= link_to 'Go back', bank_user_loans_path(anchor: "applications") %>
        </div>
      <% end %>
  </div>
</div>
<!-- MODAL FOR DECLINE FORM -->
<div class="modal fade" tabindex="-1" role="dialog" id="decline-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Declined Application Form</h4>
      </div>
      <div class="modal-body">
        <%= render "bank_users/form_decline" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
