<div class="container">
  <h1 class="text-center"><%=@loan.status%> Overview</h1>
  <div class="row">
    <h2>Details</h2>
      <p><strong>Date of the Application:</strong> <%= @loan.created_at.strftime("%e %b %Y") %></p>
      <p><strong>Mobile Number:</strong> <%= @loan.user.mobile_number %></p>
      <p><strong>Amount requested:</strong> <%= @loan.requested_amount_cents %></p>
      <p><strong>Category:</strong> <%= @loan.category %></p>
      <p><strong>Purpose:</strong> <%= @loan.purpose %></p>
      <p><strong>Score:</strong> <%= @loan.user.credit_score %></p>
      <p><strong>Description:</strong> <%= @loan.description %></p>
      <%= simple_form_for [current_bank_user, @loan] do |f| %>
       <%= f.input :proposed_amount_cents, value: @loan.requested_amount_cents %>
       <%#Ò= f.input :duration, placeholder: "12 months" %>
       <%= f.hidden_field :status, value: "Application Accepted" %>
        <div class="form-actions">
        <%= f.button :submit, "Accept", class: "btn btn-royal-blue" %>

        <%= link_to 'Decline', "#" , class: "btn btn-danger", 'data-toggle' => "modal", 'data-target' => "#decline-modal"%>
        <%= link_to 'Go back', bank_user_loans_path %>
        </div>
      <% end %>
  </div>
</div>

<!-- MODAL FOR DECLINE FORM -->
<div class="modal fade" tabindex="-1" role="dialog" id="decline-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Declined Application Form</h4>
      </div>
      <div class="modal-body">
        <%= render "form_decline" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
