<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="text-center">
    <div class="text-center loan-header">
      <h2><%= (loan.user.credit_score.to_f * 100).to_i %>%</h2>
      <p>Amount: <strong><%= humanized_money_with_symbol(loan.proposed_amount) %></strong></p>
    </div>
  </div>
</div>
<div class="modal-body modal-loan">

  <div class="loan-customer">
    <div class="info">
      <h3><%= loan.user.first_name %> <%= loan.user.last_name %></h3>
      <p><%= loan.user.city %></p>
    </div>

    <div class="tel">
      <i class="fa fa-mobile"></i> <%= loan.user.mobile_number %>
    </div>
  </div>

  <div class="loan-details">
    <div class="title">
      <h3>Loan details</h3>
      <span class="purpose"><%= loan.purpose %></span>, <span class="category"><%= loan.category %></span>, <span class="date"><%= loan.updated_at.strftime("%e %b %Y") %></span>
    </div>
    <p class="description">
      <%= loan.description %>
    </p>
  </div>

</div>
