<div class="container">
  <h1 class="text-center"><%=@loan.status%> Overview</h1>
  <div class="row">
    <h2>Details</h2>
      <p><strong>Date of the Application:</strong> <%= @loan.created_at.strftime("%e %b %Y") %></p>
      <p><strong>Mobile Number:</strong> <%= @loan.user.mobile_number %></p>
      <p><strong>Amount requested:</strong> <%= @loan.display_requested_capital %></p>
      <p><strong>Category:</strong> <%= @loan.category %></p>
      <p><strong>Purpose:</strong> <%= @loan.purpose %></p>
      <p><strong>Score:</strong> <%= @loan.user.credit_score %></p>
      <p><strong>Date of the Decline:</strong> <%= @loan.updated_at.strftime("%e %b %Y") %></p>
      <p><strong>Rationale for the decline:</strong> <%= @loan.decline_reason %></p>
      <%= link_to 'Go back', bank_user_loans_path(anchor: "declined") %>
  </div>
</div>
