<div class="container">
  <div class="header text-center">
    <h1><%=@loan.status%> Overview</h1>
  </div>
<br>
<br>
    <div class="table-description">
    <strong>Client Details</strong>
    </div>
        <div class="loan-flexbox">
            <div class="flexrow loans-header-row text-left">
                <div class="flexcell loans-header">
                  First Name
                </div>
                <div class="flexcell loans-header">
                  Last Name
                </div>
                <div class="flexcell loans-header">
                  Mobile Number
                </div>
                <div class="flexcell loans-header">
                  Address
                </div>
                <div class="flexcell loans-header">
                  City
                </div>
                <div class="flexcell loans-header">
                  Postcode
                </div>
            </div>
          <div class="loan-link">
            <div class="flexrow loans text-left">
                <div class="flexcell loans-cell">
                  <%= @loan.user.first_name %>
                </div>
                <div class="flexcell loans-cell">
                  <%= @loan.user.last_name %>
                </div>
                <div class="flexcell loans-cell">
                  <%= @loan.user.mobile_number %>
                </div>
                <div class="flexcell loans-cell">
                  <%= @loan.user.address %>
                </div>
                <div class="flexcell loans-cell">
                  <%= @loan.user.city %>
                </div>
                 <div class="flexcell loans-cell">
                  <%= @loan.user.postcode %>
                </div>
              </div>
            </div>
          </div>
<br>
<br>
    <div class="table-description">
    <strong>Loan Details</strong>
    </div>
        <div class="loan-flexbox">
          <div class="flexrow loans-header-row text-left">
              <div class="flexcell loans-header">
                Start date
              </div>
              <div class="flexcell loans-header">
                Initial capital
              </div>
              <div class="flexcell loans-header">
                Total Repaid
              </div>
              <div class="flexcell loans-header" id="credit-score">
                Credit Score
              </div>
          </div>
        <div class="loan-link">
          <div class="flexrow loans text-left">
              <div class="flexcell loans-cell">
                <%=@loan.start_date.strftime("%e %b %Y") %>
              </div>
              <div class="flexcell loans-cell">
                <%= humanized_money_with_symbol(@loan.agreed_amount) %>
              </div>
              <div class="flexcell loans-cell">
                <%= humanized_money_with_symbol(@loan.total_capital_repaid) %>
              </div>
              <div class="flexcell loans-cell" id="credit-score">
                <%= render "bank_users/radial_score_individual", score: @loan.user.credit_score %>
              </div>
          </div>
        </div>
      </div>
<br>
<br>
  <div class="links">
    <%= link_to 'Go back', bank_user_loans_path(anchor: "repaid") %>
  </div>
</div>
