<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="header text-center">
    <% if loan.loan_classification == "Missed Payment"%>
      <h3 class="missed"><%= loan.loan_classification%></h3>
    <% elsif loan.loan_classification == "Delayed Payment"%>
      <h3 class="delayed"><%= loan.loan_classification%></h3>
    <% else %>
      <h3 class="good"><%= loan.loan_classification%></h3>
    <% end %>
  </div>
  <div class="text-center">
    <div class="text-center loan-header">
      <h2><%= (loan.user.credit_score.to_f * 100).to_i %>%</h2>
      <p>Amount: <strong><%= humanized_money_with_symbol(loan.agreed_amount) %></strong></p>
    </div>
  </div>
</div>
<div class="modal-body modal-loan">

  <div class="loan-customer">
    <div class="info">
      <h3><%= loan.user.first_name %> <%= loan.user.last_name %></h3>
      <p><%= loan.user.city %></p>
    </div>

    <div class="tel">
      <i class="fa fa-mobile"></i> <%= loan.user.mobile_number %>
    </div>
  </div>

  <div class="loan-details">
    <div class="title">
      <h3>Loan details</h3>
      <span class="remaining-capital">Remaining Capital:
      <%= humanized_money_with_symbol(loan.remaining_capital) %>
      </span>
      <div class="payment-details text-left">
        <div class="next-payment item ">
          <% if loan.next_payment.present? %>
              <div class="next-payment-date">
                  Next payment date: <strong><%= loan.next_payment.due_date.strftime("%e %b %Y") %>
             </strong></div>
              <div class="next-payment-amount">
                  Next payment amount: <strong><%= humanized_money_with_symbol(loan.next_payment.amount) %></strong>
              </div>
          <% end %>
        </div>
        <div class="most-recent-payment item">
          <% if loan.most_recent_payment.present? %>
            <div class="most-recent-payment-date">
              Last payment date: <strong><%= loan.most_recent_payment.due_date.strftime("%e %b %Y") %></strong>
            </div>
            <div class="most-recent-payment-amount">
             Last payment amount: <strong><%= humanized_money_with_symbol(loan.most_recent_payment.amount) %></strong>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

