<div class="container">
  <h1 class="text-center"><%=@loan.status%> Overview</h1>
  <div class="row">
    <h2>Details</h2>
      <p><strong>Start date:</strong> <%= @loan.start_date.strftime("%e %b %Y") %></p>
      <p><strong>Initial capital:</strong> <%= @loan.display_capital %></p>
      <p><strong>Remaining capital:</strong> <%= @loan.remaining_capital %></p>
      <p><strong>Next payment date:</strong> <%= @loan.next_payment.due_date.strftime("%e %b %Y") %></p>
      <p><strong>Next payment amount:</strong> <%= @loan.next_payment.display_money %></p>
      <p><strong>Score:</strong> <%= @loan.user.credit_score %></p>
  <%= link_to 'Go back', bank_user_loans_path(anchor: "outstanding") %>
  </div>
</div>
