<div class="container">
  <div class="header text-center">
  <h1><%=@loan.status%> Overview</h1>
    <% if @loan.loan_classification == "Missed Payment"%>
      <h3 class="missed"><%= @loan.loan_classification%></h3>
    <% elsif @loan.loan_classification == "Delayed Payment"%>
      <h3 class="delayed"><%= @loan.loan_classification%></h3>
    <% else %>
      <h3 class="good"><%= @loan.loan_classification%></h3>
    <% end %>
  </div>
<br>
<br>
    <div class="table-description">
    <strong>Client Details</strong>
    </div>
        <div class="loan-flexbox">
          <div class="flexrow loans-header-row text-left">
              <div class="flexcell loans-header">
                First Name
              </div>
              <div class="flexcell loans-header">
                Last Name
              </div>
              <div class="flexcell loans-header">
                Mobile Number
              </div>
              <div class="flexcell loans-header">
                Address
              </div>
              <div class="flexcell loans-header">
                City
              </div>
              <div class="flexcell loans-header">
                Postcode
              </div>
          </div>
        <div class="loan-link">
          <div class="flexrow loans text-left">
              <div class="flexcell loans-cell">
                <%= @loan.user.first_name %>
              </div>
              <div class="flexcell loans-cell">
                <%= @loan.user.last_name %>
              </div>
              <div class="flexcell loans-cell">
                <%= @loan.user.mobile_number %>
              </div>
              <div class="flexcell loans-cell">
                <%= @loan.user.address %>
              </div>
              <div class="flexcell loans-cell">
                <%= @loan.user.city %>
              </div>
               <div class="flexcell loans-cell">
                <%= @loan.user.postcode %>
              </div>
            </div>
          </div>
        </div>
<br>
<br>
    <div class="table-description">
    <strong>Loan Details</strong>
    </div>
        <div class="loan-flexbox">
          <div class="flexrow loans-header-row text-left">
              <div class="flexcell loans-header">
                Start date
              </div>
              <div class="flexcell loans-header">
                Initial capital
              </div>
              <div class="flexcell loans-header">
                Remaining capital
              </div>
              <% if @loan.next_payment.present? %>
                <div class="flexcell loans-header">
                  Next payment date
                </div>
                <div class="flexcell loans-header">
                  Next payment amount
                </div>
              <% else %>
                <div class="flexcell loans-header">
                  Most recent payment date
                </div>
                <div class="flexcell loans-header">
                  Most recent payment amount
                </div>
              <% end %>
              <div class="flexcell loans-header" id="credit-score">
                Credit Score
              </div>
          </div>
        <div class="loan-link">
          <div class="flexrow loans text-left">
              <div class="flexcell loans-cell">
                <%=@loan.start_date.strftime("%e %b %Y") %>
              </div>
              <div class="flexcell loans-cell">
                <%= @loan.display_capital %>
              </div>
              <div class="flexcell loans-cell">
                <%= @loan.remaining_capital %>
              </div>
              <% if @loan.next_payment.present? %>
                <div class="flexcell loan-show-cell">
                  <%= @loan.next_payment.due_date.strftime("%e %b %Y") %>
                </div>
                <div class="flexcell loan-show-cell">
                  <%= @loan.next_payment.display_money %>
                </div>
              <% else %>
                <div class="flexcell loan-show-cell">
                  <%= @loan.most_recent_payment.due_date.strftime("%e %b %Y") %>
                </div>
                <div class="flexcell loan-show-cell">
                  <%= @loan.most_recent_payment.display_money %>
                </div>
              <% end %>
               <div class="flexcell loan-show-cell" id="credit-score">
                <%= @loan.user.credit_score %>
              </div>
            </div>
          </div>
        </div>
<br>
<br>
      <div class="links">
        <%= link_to 'Go back', bank_user_loans_path(anchor: "outstanding") %>
      </div>
  </div>

