<div class="white-box">
  <div class="row">
    <div class="container devise-container">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <p>Mobile Number: <strong><%= resource.mobile_number %></strong></p>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
          <hr>
          <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, label: "New Password" %>
          <%= f.input :password_confirmation, required: false %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
      <% end %>
      <br>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
