<div id="age-pie" style="min-width: 310px; height: 400px; max-width: 100%; margin: 0 auto"></div>


<script>
  $(function () {
      Highcharts.chart('age-pie', {
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: '<b>Loan Applications by Age</b>'
          },
          subtitle: {
              text: 'to date'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      },
                      connectorColor: 'silver'
                  }
              }
          },
          series: [{
              name: 'Percentage Share',
              data: [
                  { name: 'Age 18 - 22', y: <%= current_bank_user.bank.eigthteen_twenty %> },
                  {
                      name: '23 - 30 years',
                      y: <%= current_bank_user.bank.twenty_thirty %>
                  },
                  { name: '31 - 40 years', y: <%= current_bank_user.bank.thirty_fourty %> },
                  { name: '41 - 50 years', y: <%= current_bank_user.bank.fourty_fifty %> },
                  { name: '51 - 60 years', y: <%= current_bank_user.bank.fifty_sixty %> },
                  {
                      name: '61+ years',
                      y: <%= current_bank_user.bank.sixty_plus %>,
                      sliced: true,
                      selected: true
                  }
              ]
          }]
      });
  });
</script>
