  <div class="container container-flex">
    <div class="container">
      <div class="round-icon-status">
        <i><span class="fa fa-check"></span></i>
      </div>
    </div>
    <h3>Application Accepted</h3>


    <div>
      <h4>You qualify for up to</h4>
    </div>

    <div class="loan-amount">
      <p><strong><%= current_user.loans.last.display_proposed_capital %></strong></p>
    </div>

    <div>
      <p>with repayments scheduled on</p>
    </div>

  <div class="confirm-repayments standard-flexbox">
    <div class="flexrow repayments-header-row text-center">
      <div class="flexcell confirm-cell blue-header">
        <p>Due date</p>
      </div>
      <div class="flexcell confirm-cell blue-header">
        <p>Amount due</p>
      </div>
    </div>
    <% current_user.loans.last.payments.each do |payment| %>
      <div class="flexrow month text-center">
        <div class="flexcell confirm-cell">
          <p><%= payment.due_date.strftime("%e %b %Y") %></p>
        </div>
        <div class="flexcell confirm-cell">
          <p><%= payment.display_money %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <p><br><strong>If you proceed, your eWallet account will be credited immediately by your choosen amount above.</strong></p>
  </div>
  <div>
    <p>If you do not make loan repayments by the specified due date additional fees may apply.</p>
  </div>
<<<<<<< HEAD
  <div class="container container-buttons">
    <%= link_to "Accept", accept_user_loan_path(@user, @user.loans.last), data: { confirm: 'Are you sure?'}, class: 'btn-royal-blue' %>
    <%= link_to "Decline", user_path(current_user), data: { confirm: 'Are you sure?'}, class: 'btn-grey' %>
  </div>
 </div>
=======

  <%= simple_form_for [current_user, current_user.loans.last], url: accept_user_loan_path(current_user, current_user.loans.last) do |f| %>
    <%= f.hidden_field :agreed_amount, value: current_user.loans.last.proposed_amount %>
    <%= f.hidden_field :start_date, value: DateTime.now %>
    <%= f.hidden_field :final_date, value: (DateTime.now.end_of_day + current_user.loans.last.duration_months.month) %>
    <%= f.submit "Accept loan", data: { confirm: 'Are you sure?'}, class: 'btn-royal-blue' %>
  <% end %>
</div>
>>>>>>> master
