<div class="container text-center">
  <h2>Loan Outstanding</h2>

  <p>Your current balance is</p>

  <p><strong><%= humanized_money_with_symbol(current_user.loans.last.agreed_amount) %></strong></p>

  <p>Your next payment is due on the</p>

  <p><strong><%= current_user.loans.last.next_payment.due_date.strftime("%e %b %Y") %></strong></p>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <div class="standard-flexbox">
        <div class="flexrow blue-header">
          <div class="flexcell third-cell">
            <p>Due date</p>
          </div>
          <div class="flexcell third-cell">
            <p>Amount due</p>
          </div>
          <div class="flexcell third-cell">
            <p>Paid</p>
          </div>
        </div>

        <% current_user.loans.last.payments.each do |payment| %>
          <div class="flexrow">
            <div class="flexcell third-cell">
              <%= payment.due_date.strftime("%e %b") %>
            </div>
            <div class="flexcell third-cell">
              <%= humanized_money_with_symbol(payment.amount) %>
            </div>
            <div class="flexcell third-cell">
              <%= payment.paid ? icon('check') : icon('times') %>
            </div>
          </div>
        <% end %>
      </div> <!-- standard-flexbox -->
    </div> <!-- col-xs-12 -->
  </div> <!-- row -->

  <div>
    <p>If you do not make loan repayments by the specified due date additional fees may apply.</p>
  </div>

  <div>
    <p>Repayments must be operated from your eWallet account.</p>
  </div>

  <div>
    <p>You must complete the full repayment of your existing loan before being eligible for a new loan application.</p>
  </div>

</div>
