<h2>Loan Outstanding</h2>

<div class="container">

  <div>
    <p>Your current balance is</p>
  </div>

  <div class="loan-amount">
    <p><strong><%= current_user.loans.last.proposed_amount_cents %></strong></p>
  </div>

  <div>
    <p>Your next payment is due by the</p>
  </div>

  <div class="payment-date">
    <p><strong><%= current_user.loans.last.proposed_amount_cents %></strong></p>
  </div>

  <div class="standard-flexbox">
    <div class="flexrow text-center">
      <div class="flexcell third-cell blue-header">
        <p>Due date</p>
      </div>
      <div class="flexcell third-cell blue-header">
        <p>Amount due</p>
      </div>
      <div class="flexcell third-cell blue-header">
        <p>Paid</p>
      </div>
    </div>

    <% current_user.loans.last.payments.each do |payment| %>
      <div class="flexrow text-center">
        <div class="flexcell third-cell">
          <%= payment.due_date %>
        </div>
        <div class="flexcell third-cell">
          <%= payment.amount_cents %>
        </div>
        <div class="flexcell third-cell">
          <%= payment.paid ? 'tick' : 'cross' %>
        </div>
      </div>
    <% end %>
  </div>

  <br>

  <div>
    <p>If you do not make loan repayments by the specified due date additional fees may apply.</p>
  </div>

  <div>
    <p>Repayments must be operated from your eWallet account.</p>
  </div>

  <div>
    <p>You must complete the full repayment of your existing laon before being eligle for a new loan application.</p>
  </div>

</div>
