<div class="wrapper-grey">
  <div class="header-banner">
    <div class="header-title">
      <h1>Your Personal Details</h1>
      <h2>Information required to set up your account</h2>
    </div>
    <div class="round-icon">
      <i><span class="fa fa-id-card"></span></i>
    </div>
  </div>

  <div class="facebook-fetching white-box">
    <%= link_to "Use your facebook account", omniauth_authorize_path(current_user, :facebook), class: 'btn btn-block btn-social btn-facebook facebook-button' %><br />
  </div>

  <div class="container white-box">
    <div class="details-form">
      <%= simple_form_for current_user do |f| %>
        <%= f.input :email, input_html: { class: 'input-rounded'}, placeholder: "Email", label: false %>
        <%= f.input :title,
          as: 'radio_buttons',
          collection: [['Mr', 'mr'], ['Mrs', 'mrs'], ['Ms', 'ms']],
          label: false %>
        <%= f.input :first_name, input_html: { class: 'input-rounded'},
          placeholder: "First name", label: false  %>
        <%= f.input :last_name, input_html: { class: 'input-rounded'}, placeholder: "Last name", label: false %>
        <%= f.input :address, input_html: { class: 'input-rounded'}, placeholder: "Address", label: false %>
        <%= f.input :city, input_html: { class: 'input-rounded'}, placeholder: "City", label: false %>
        <%= f.input :postcode, input_html: { class: 'input-rounded'}, placeholder: "Postcode", label: false %>
        <%= f.input :employment, input_html: { class: 'input-rounded'}, placeholder: "Employment", label: false %>
        <%= f.input :date_of_birth, as: :date_picker, input_html: { class: 'input-rounded'}, placeholder: "D.o.B DD/MM/YYYY", label: false  %>
        <%= f.input :photo_id, input_html: { class: 'input-rounded'} %>
    <div class="container container-buttons">
        <%= f.submit 'Save', class: 'btn-royal-blue btn-centered' %>
    </div>
      <% end %>
    </div>
  </div>
</div>
