<h1>Your Personal Details</h1>
<p>Information required to set up your account</p>

<br><p>Connect with Facebook</p><br>

<%= simple_form_for current_user do |f| %>
  <%= f.input :gender, as: :radio_buttons %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :address  %>
  <%= f.input :city %>
  <%= f.input :postcode %>
  <%= f.input :employment %>
  <%= f.input :date_of_birth %>
  <%= f.input :photo_id %>
  <%= f.button :submit %>
<% end %>
