<div class="wrapper-blue">

  <div class="profile-card">
    <div class="profile-picture">
      <!-- If you want a profile picture: Could take from facebook profile -->
    </div>
    <div class="profile-info">
      <h4><%= @user.gender == 'male' ? 'Mr' : 'Mrs' %><%= + ' ' + @user.first_name.capitalize + ' ' + @user.last_name.capitalize %></h4>
      <h5><%= @user.mobile_number %></h5>
      <p><%= @user.date_of_birth %></p>
      <p><%= @user.email %></p>
      <p><%= @user.address %></p>
      <p><%= @user.city + ', ' + @user.postcode %></p>
      <%= link_to edit_user_path(@user) do %>
        <p><%= 'EDIT YOUR DETAILS' %></p>
        <p class="text-red"><%= 'Details incomplete. It is important that all of your details are correct.' unless @user.details_completed? %></p>
      <% end %>
    </div>
  </div>

  <% if @user.loans.last.status == "Application Pending" || "Application Accepted" || "Loan Outstanding" || "Application Declined" %>
    <%= link_to user_status_path(@user) %>
      <div class="current-loan">
        <h5>Current Loan Status:</h5>
        <% if current_user.loans.last.status == "Application Pending" %>
          <%= "Pending" %>
        <% elsif current_user.loans.last.status == "Application Accepted" %>
          <%= "Accepted" %>
        <% elsif current_user.loans.last.status == "Loan Outstanding" %>
          <%= "Outstanding" %>
        <% elsif current_user.loans.last.status == "Application Declined" %>
          <%= "Declined" %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="loan-history">

  </div>

</div>
