<div class="wrapper-blue">
  <div class="profile-card">
    <div class="profile-picture">
      <!-- If you want a profile picture: Could take from facebook profile -->
    </div>
    <div class="profile-info">
      <h4><%= @user.gender == 'male' ? 'Mr' : 'Mrs' %><%= + ' ' + @user.first_name.capitalize + ' ' + @user.last_name.capitalize %></h4>
      <h5><%= @user.mobile_number %></h5>
      <p><%= @user.date_of_birth %></p>
      <p><%= @user.email %></p>
      <p><%= @user.address %></p>
      <p><%= @user.city + ', ' + @user.postcode %></p>
      <%= link_to edit_user_path(@user) do %>
        <p><%= 'EDIT YOUR DETAILS' %></p>
        <p class="text-red"><%= 'Details incomplete. It is important that all of your details are correct.' unless @user.details_completed? %></p>
      <% end %>
    </div>
  </div>

  <% if @user.loans.last.status == "" %>
    <div class="current-loan">
      <%= link_to(user_status_path(@user)) do %>
        <div id="tab-monitor">
          <h1>Monitor your situation</h1>
          <p>Track your progress over time</p>
          <p style="color: red; text-align: center; font-size: 16px">View your status</p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="header-banner-white">
    <%= link_to('profile') do %>
      <div id="tab-details">
        <h1>Your Profile</h1>
        <p>Your details are important to us</p>
      </div>
    <% end %>
  </div>

  <div class="header-banner-white">
    <%= link_to('share') do %>
      <div id="tab-share">
        <h1>Share Manda with people you know</h1>
        <p>Get benefits from sharing with your friends</p>
      </div>
    <% end %>
  </div>
</div>
