<div class="wrapper-blue">

  <div class="profile-card">
    <div class="profile-picture">
      <!-- If you want a profile picture: Could take from facebook profile -->
    </div>
    <div class="profile-info">
      <h4><%= @user.gender == 'male' ? 'Mr' : 'Mrs' %><%= + ' ' + @user.first_name.capitalize + ' ' + @user.last_name.capitalize %></h4>
      <h5><%= @user.mobile_number %></h5>
      <p><%= @user.date_of_birth %></p>
      <p><%= @user.email %></p>
      <p><%= @user.address %></p>
      <p><%= @user.city + ', ' + @user.postcode %></p>
      <%= link_to edit_user_path(@user) do %>
        <p><%= 'EDIT YOUR DETAILS' %></p>
        <p class="text-red"><%= 'Details incomplete. It is important that all of your details are correct.' unless @user.details_completed? %></p>
      <% end %>
    </div>
  </div>

  <% if @user.loans.last.status == "Application Pending" || "Application Accepted" || "Loan Outstanding" || "Application Declined" %>
    <%= link_to user_status_path(@user) do %>
      <div class="current-loan">
        <h5>Current Loan Status:</h5>
        <% if @user.loans.last.status == "Application Pending" %>
          <%= "Pending" %>
        <% elsif @user.loans.last.status == "Application Accepted" %>
          <%= "Accepted" %>
        <% elsif @user.loans.last.status == "Loan Outstanding" %>
          <%= "Outstanding" %>
        <% elsif @user.loans.last.status == "Application Declined" %>
          <%= "Declined" %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="loan-history">
    <h5>Loan History</h5>
    <p><%= "You haven't previously taken out any loans." if @user.loans == [] %></p>

      <p></p>
        <div class="standard-flexbox">
          <div class="flexrow text-center">
            <div class="flexcell history-cell blue-header">
              <p>Date</p>
            </div>
            <div class="flexcell history-cell blue-header">
              <p>Amount</p>
            </div>
            <div class="flexcell history-cell blue-header">
              <p>Duration</p>
            </div>
          </div>

          <%= @user.loans.each do |loan| %>
            <div class="flexrow text-center">
              <%= if loan.status == "Application Declined" %>
                <div class="flexcell history-cell">
                  <%= loan.application_date %>
                </div>
                <div class="flexcell history-cell">
                  <%= loan.requested_amount_cents %>
                </div>
                <div class="flexcell history-cell">
                  <%= "Declined" %>
                </div>
              <% else %>
                <div class="flexcell history-cell">
                  <%= loan.final_date %>
                </div>
                <div class="flexcell history-cell">
                  <%= loan.agreed_amount_cents %>
                </div>
                <div class="flexcell history-cell">
                  <%= "Repaid" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>

</div>
