<div class="wrapper-blue">

  <div class="profile-card">
    <div class="profile-picture">
      <!-- If you want a profile picture: Could take from facebook profile -->
    </div>
    <div class="profile-info">
      <h4><%= @user.gender == 'male' ? 'Mr' : 'Mrs' %><%= + ' ' + @user.first_name.capitalize + ' ' + @user.last_name.capitalize %></h4>
      <h5><%= @user.mobile_number %></h5>
      <p><%= @user.date_of_birth %></p>
      <p><%= @user.email %></p>
      <p><%= @user.address %></p>
      <p><%= @user.city + ', ' + @user.postcode %></p>
      <%= link_to edit_user_path(@user) do %>
        <p><%= 'EDIT YOUR DETAILS' %></p>
        <p class="text-red"><%= 'Details incomplete. It is important that all of your details are correct.' unless @user.details_completed? %></p>
      <% end %>
    </div>
  </div>

  <% if @user.loans.last.status == "Application Pending" || "Application Accepted" || "Loan Outstanding" || "Application Declined" %>
    <%= link_to user_status_path(@user) do %>
      <div class="current-loan">
        <h5>Current Loan Status:</h5>
        <% case @user.loans.last.status %>
          <% when "Application Pending" %>
            <%= "Pending" %>
          <% when "Application Accepted" %>
            <%= "Accepted! Click here to confirm." %>
          <% when "Loan Outstanding" %>
            <%= "Ongoing" %>
          <% when "Application Declined" %>
            <%= "Declined" %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="loan-history">
    <h5>Loan History</h5>
    <p><%= "You haven't previously taken out any loans." if @user.loans == [] %></p>

    <div class="standard-flexbox">
      <div class="flexrow text-center">
        <div class="flexcell third-cell blue-header">
          <p>Date</p>
        </div>
        <div class="flexcell third-cell blue-header">
          <p>Amount</p>
        </div>
        <div class="flexcell third-cell blue-header">
          <p>Duration</p>
        </div>
      </div>

      <% @user.loans.each do |loan| %>
        <div class="flexrow text-center">
          <% case loan.status %>
            <% when "Application Pending" %>
              <div class="flexcell third-cell">
                <%= loan.final_date %>
              </div>
              <div class="flexcell third-cell">
                <%= loan.agreed_amount_cents %>
              </div>
              <div class="flexcell third-cell">
                <%= "Pending" %>
              </div>
            <% when "Application Accepted" %>
              <div class="flexcell third-cell">
                <%= loan.final_date %>
              </div>
              <div class="flexcell third-cell">
                <%= loan.agreed_amount_cents %>
              </div>
              <div class="flexcell third-cell">
                <%= "Accepted" %>
              </div>
            <% when "Loan Outstanding" %>
              <div class="flexcell third-cell">
                <%= loan.final_date %>
              </div>
              <div class="flexcell third-cell">
                <%= loan.agreed_amount_cents %>
              </div>
              <div class="flexcell third-cell">
                <%= "Ongoing" %>
              </div>
            <% when "Application Declined" %>
              <div class="flexcell third-cell">
                <%= loan.application_date %>
              </div>
              <div class="flexcell third-cell">
                <%= loan.requested_amount_cents %>
              </div>
              <div class="flexcell third-cell">
                <%= "Declined" %>
              </div>
            <% when "Loan Repaid" %>
              <div class="flexcell third-cell">
                <%= loan.final_date %>
              </div>
              <div class="flexcell third-cell">
                <%= loan.agreed_amount_cents %>
              </div>
              <div class="flexcell third-cell">
                <%= "Repaid" %>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
