
<div id="status-header">
  <h1>Your Current Situation</h1>
</div>

<div class="container">
  <% if @user.loans == [] %>
    <%= render 'empty' %>
  <% elsif @user.loans.last.status == "Application Pending" %>
    <%= render 'pending' %>
  <% elsif @user.loans.last.status == "Application Accepted" %>
    <%= render 'accepted' %>
  <% elsif @user.loans.last.status == "Loan Outstanding" %>
    <%= render 'oustanding' %>
  <% elsif @user.loans.last.status == "Application Declined" %>
    <%= render 'declined' %>
  <% elsif @user.loans.last.status == "Loan Repaid" %>
    <%= render 'repaid' %>
  <% end %>
</div>

<h2>Loan Outstanding</h2>

<div class="container">

  <div>
    <p>Your current balance is</p>
  </div>

  <div class="loan-amount">
    <p><strong><%= @user.loans.last.proposed_amount_cents %></strong></p>
  </div>

  <div>
    <p>Your next payment is due by the</p>
  </div>

  <div class="payment-date">
    <p><strong><%= @user.loans.last.proposed_amount_cents %></strong></p>
  </div>

  <div class="repayments-flexbox">
    <!-- div for each row (header, row, row, row) each row flexed -->
    <!-- div for each cell inside row, each cell of one column will have the same class -->
    <div class="repayments-header-row">
      <div class="repayments-header">
        <p>Due date</p>
      </div>
      <div class="repayments-header">
        <p>Amount due</p>
      </div>
      <div class="repayments-header">
        <p>Paid</p>
      </div>
    </div>

    <div class="first-month">
      <div class="first-month-cell">
        <%= Date.now %>
      </div>
      <div class="first-month-cell">
        <%=  %>
      </div>
    </div>

    <div class="second-month">
      <div class="second-month-cell">
        <%=  %>
      </div>
      <div class="second-month-cell">
        <%=  %>
      </div>
    </div>

    <div class="third-month">
      <div class="third-month-cell">
        <%=  %>
      </div>
      <div class="third-month-cell">
        <%=  %>
      </div>
    </div>
  </div>

  <div>
    <p>If you do not make loan repayments by the specified due date additional fees may apply.</p>
  </div>

  <div>
    <p>Repayments must be operated from your eWallet account.</p>
  </div>

  <div>
    <p>You must complete the full repayment of your existing laon before being eligle for a new loan application.</p>
  </div>

</div>


