
<div id="status-header">
  <h1>Your Current Situation</h1>
</div>

<div class="container">
  <% if current_user.loans == [] %>
    <%= render 'empty' %>
  <% elsif current_user.loans.last.status == "Application Pending" %>
    <%= render 'pending' %>
  <% elsif current_user.loans.last.status == "Application Accepted" %>
    <%= render 'accepted' %>
  <% elsif current_user.loans.last.status == "Loan Outstanding" %>
    <%= render 'oustanding' %>
  <% elsif current_user.loans.last.status == "Application Declined" %>
    <%= render 'declined' %>
  <% elsif current_user.loans.last.status == "Loan Repaid" %>
    <%= render 'repaid' %>
  <% end %>
</div>

  <br>

  <div class="repayments-flexbox">
    <div class="flexrow repayments-header-row text-center">
      <div class="flexcell repayments-header">
        <p>Due date</p>
      </div>
      <div class="flexcell repayments-header">
        <p>Amount due</p>
      </div>
      <div class="flexcell repayments-header">
        <p>Paid</p>
      </div>
    </div>

    <% 3.times do %>
      <div class="flexrow month text-center">
        <div class="flexcell month-cell">
          23-11-2016
        </div>
        <div class="flexcell month-cell">
          100
        </div>
        <div class="flexcell month-cell">
          tick
        </div>
      </div>
    <% end %>

    <br>

  </div>
