
<div id="status-header">
  <h1>Your Current Situation</h1>
</div>

<div class="container">
  <% if current_user.loans == [] %>
    <%= render 'empty' %>
  <% elsif current_user.loans.last.status == "Application Pending" %>
    <%= render 'pending' %>
  <% elsif current_user.loans.last.status == "Application Accepted" %>
    <%= render 'accepted' %>
  <% elsif current_user.loans.last.status == "Loan Outstanding" %>
    <%= render 'outstanding' %>
  <% elsif current_user.loans.last.status == "Application Declined" %>
    <%= render 'declined' %>
  <% elsif current_user.loans.last.status == "Loan Repaid" %>
    <%= render 'repaid' %>
  <% end %>
</div>

