
<div id="status-header">
  <h1>Your Current Situation</h1>
</div>

<div class="container">
  <% if current_user.loans == [] %>
    <%= render 'empty' %>
  <% elsif current_user.loans.last.status == "Application Pending" %>
    <%= render 'pending' %>
  <% elsif current_user.loans.last.status == "Application Accepted" %>
    <%= render 'accepted' %>
  <% elsif current_user.loans.last.status == "Loan Outstanding" %>
    <%= render 'oustanding' %>
  <% elsif current_user.loans.last.status == "Application Declined" %>
    <%= render 'declined' %>
  <% elsif current_user.loans.last.status == "Loan Repaid" %>
    <%= render 'repaid' %>
  <% end %>
</div>

<h2>Loan Outstanding</h2>

<div class="container">

  <div>
    <p>Your current balance is</p>
  </div>

  <div class="loan-amount">
    <p><strong><%= current_user.loans.last.proposed_amount_cents %></strong></p>
  </div>

  <div>
    <p>Your next payment is due by the</p>
  </div>

  <div class="payment-date">
    <p><strong><%= current_user.loans.last.proposed_amount_cents %></strong></p>
  </div>

  <div class="repayments-flexbox">
    <div class="repayments-header-row">
      <div class="repayments-header">
        <p>Due date</p>
      </div>
      <div class="repayments-header">
        <p>Amount due</p>
      </div>
      <div class="repayments-header">
        <p>Paid</p>
      </div>
    </div>

    <% current_user.loans.last.payments.each do |payment| %>
      <div class="month">
        <div class="month-cell">
          <%= payment.due_date  %>
        </div>
        <div class="month-cell">
          <%= payment.amount_cents %>
        </div>
        <div class="month-cell">
          <%= payment.paid ? 'tick' : 'cross' %>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <p>If you do not make loan repayments by the specified due date additional fees may apply.</p>
  </div>

  <div>
    <p>Repayments must be operated from your eWallet account.</p>
  </div>

  <div>
    <p>You must complete the full repayment of your existing laon before being eligle for a new loan application.</p>
  </div>

</div>
