<div class="header-banner">
  <div class="header-title">
      <h1>Your Current Situation</h1>
  </div>
  <div class="round-icon">
    <i><span class="fa fa-bookmark"></span></i>
  </div>
</div>
<div class="wrapper-grey flexboxify">
  <div class="white-box status-box">
    <% if current_user.loans == [] %>
      <%= render 'empty' %>
    <% elsif current_user.loans.last.status == "Application Pending" %>
      <%= render 'pending' %>
    <% elsif current_user.loans.last.status == "Application Accepted" %>
      <%= render 'accepted' %>
    <% elsif current_user.loans.last.status == "Loan Outstanding" %>
      <%= render 'outstanding' %>
    <% elsif current_user.loans.last.status == "Application Declined" %>
      <%= render 'declined' %>
    <% elsif current_user.loans.last.status == "Loan Repaid" %>
      <%= render 'repaid' %>
    <% end %>
    <div class="back-button text-center">
      <%= link_to "Go back", user_path(current_user), class: 'btn-grey' %>
    </div>
  </div>
</div>


