<div class="header-banner">
  <div class="header-title">
      <h1>Your Current Situation</h1>
  </div>
  <div class="round-icon">
    <i><span class="fa fa-bookmark"></span></i>
  </div>
</div>
<div class="wrapper-grey">


  <!-- Latest loan overview -->
  <div class="white-box status-box text-center">

    <!-- Loan status progress (PC)-->
    <div class="container">
      <div class="large-screen-progress-bar">
        <ul class="status-progress-bar text-center padded">
          <li class="status-progress-item active">
            <span class="status-header">Applied</span>
          </li>
          <li class="status-progress-item active">
            <span class="status-header">Approved</span>
          </li>
          <li class="status-progress-item active">
            <span class="status-header">Granted</span>
          </li>
          <li class="status-progress-item">
            <span class="status-header">Repaid</span>
          </li>
        </ul>
      </div>
    </div>

    <% if current_user.loans == [] %>
      <%= render 'empty' %>
    <% elsif current_user.loans.last.status == "Application Pending" %>
      <%= render 'pending' %>
    <% elsif current_user.loans.last.status == "Application Accepted" %>
      <%= render 'accepted' %>
    <% elsif current_user.loans.last.status == "Loan Outstanding" %>
      <%= render 'outstanding' %>
    <% elsif current_user.loans.last.status == "Application Declined" %>
      <%= render 'declined' %>
    <% elsif current_user.loans.last.status == "Loan Repaid" %>
      <%= render 'repaid' %>
    <% end %>
    <div class="back-button text-center">
      <%= link_to "Go back", user_path(current_user), class: 'btn-grey' %>
    </div>
  </div>
</div>


