<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" do %>
      <i class="fa fa-user fa-2x"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <i class="fa fa-user fa-2x"></i>
    <% end %>
  <% end %>

    <%= link_to root_path, class: "navbar-wagon-item navbar-wagon-link" do %>
      <i class="fa fa-home fa-2x"></i>
    <% end %>
  </div>

</div>

