<div class="navbar-wagon">
  <!-- Logo -->
  <% if user_signed_in? %>
    <%= link_to user_path(current_user), class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  <% else %>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <% if user_signed_in? %>

      <div class="navbar-wagon-item navbar-wagon-link">
        <div class="badge-container">
          <% if current_user.notifications.unread.present?  %>
            <i class="fa fa-envelope-o" data-container="body" data-toggle="popover" data-placement="bottom" title="Your application status has changed!" data-content="Click <a href='/users/<%= current_user.id %>/status'>here</a> to see the details"></i>
            <div class="badge badge-red"><%= current_user.notifications.unread.length %></div>
          <% else %>
            <i class="fa fa-envelope-o" data-container="body" data-toggle="popover" data-placement="bottom" data-content="You have no notifications!"></i>
          <% end %>
        </div>
      </div>

      <% unless controller_name == "Users" || action_name == "edit" %>
        <div class="dropdown">
          <i class="glyphicon glyphicon-user navbar-wagon-item navbar-wagon-link" id="navbar-wagon-menu" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %></li>
          </ul>
        </div>
        <%= link_to user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" do %>
          <i class="glyphicon glyphicon-home"></i>
        <% end %>
      <% end %>

    <% else %>

      <div class="dropdown">
        <i class="glyphicon glyphicon-user navbar-wagon-item navbar-wagon-link" id="navbar-wagon-menu" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Sign in", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link"%></li>
        </ul>
      </div>

      <%= link_to root_path, class: "navbar-wagon-item navbar-wagon-link" do %>
        <i class="glyphicon glyphicon-home"></i>
      <% end %>
    <% end %>
  </div>

</div>



<%= content_for(:after_js) do %>
  <script>
    $('body').on('click', function(evt){
      var target = $(evt.target)
      if (target.is('[data-toggle=popover')) {
        $('[data-toggle=popover]').popover('toggle');
      }
      else {
        console.log('else')
        $('[data-toggle=popover]').popover('hide');
      }
    })
  </script>
<% end %>
