<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" do %>
        <i class="glyphicon glyphicon-user"></i>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" do %>
        <i class="glyphicon glyphicon-user"></i>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" do %>
        <i class="glyphicon glyphicon-home"></i>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "navbar-wagon-item navbar-wagon-link" do %>
        <i class="glyphicon glyphicon-home"></i>
      <% end %>
    <% end %>

  </div>

</div>

