<div style="min-height: 85vh;">

  <div class="header-banner">
     <div class="header-title">
      <h1>Complete your loan request</h1>
      <h2> </h2>
    </div>
    <div class="round-icon">
      <i><span class="fa fa-pencil"></span></i>
    </div>
  </div>

  <div class="container white-box">
    <div id="loan-application-form">
      <%= simple_form_for [current_user, @loan] do |f| %>
        <%= f.input :requested_amount,
          label: "Over 3 months, how much do you want to borrow? (with monthly repayments)",
          placeholder: "up to R15,000",
          error: "Please enter an amount between R0 and R15,000",
          input_html: { class: 'input-rounded' },
          required: false %>
        <div class="category-view">
          <%= f.input :category,
            as: 'radio_buttons',
            collection: [['Personal', 'Personal'], ['Business', 'Business']],
            label_method: :first,
            value_method: :last,
            label: "What would you like to use the loan for?",
            label_html: { class: 'radio-label' },
            error: "Please choose a category",
            item_wrapper_class: 'radio-inline',
            required: false %>
        </div>
        <div class="for-personal">
          <%= f.input :purpose, collection: ['Medical Expenses', 'School Fees', 'Transportation Expenses', 'Other'],
            label: "Choose the option that best describes your planned expenses:",
            prompt: "Choose best option",
            error: "Please choose an option",
            item_wrapper_class: "for-personal",
            input_html: { class: 'input-rounded', id: 'personal-dropdown' },
            required: false %>
        </div>
        <div class="for-business hidden">
          <%= f.input :purpose, collection: ['New Equipment', 'Inventory Purposes', 'Refurbishment Work', 'Liability Management', 'Other'],
            prompt: "Choose best option",
            error: "Please choose an option",
            label: "Choose the option that best describes your planned expenses:",
            input_html: { class: 'input-rounded', id: 'business-dropdown' },
            required: false %>
        </div>
        <%= f.input :description,
          label: "Further details on your intended loan use:",
          placeholder: "Details of your loan purpose",
          error: "Please describe in more detail what you plan to use this loan for",
          input_html: { class: 'input-rounded' },
          required: false %>
        <%= f.hidden_field :bank_id,
          value: @bank.id %>
        <%= f.submit 'Submit',
          class: 'btn-royal-blue btn', style: "width: 100%" %>
        <div class="back-button text-center">
          <%= link_to "Go back", user_path(current_user), class: 'btn-grey' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
        $('input[type=radio]').change(function() {
            if (this.value == 'Personal') {
              $('.for-personal').removeClass('hidden');
              $('.for-business').addClass('hidden');
              $('#business-dropdown').prop('disabled', true);
              $('#personal-dropdown').prop('disabled', false);
           }
            else if (this.value == 'Business') {
              $('.for-personal').addClass('hidden')
              $('.for-business').removeClass('hidden')
              $('#business-dropdown').prop('disabled', false);
              $('#personal-dropdown').prop('disabled', true);
            }
        });
    });
  </script>
<% end %>
