<div class="wrapper-blue">

  <div class="header-banner">
     <div class="header-title">
      <h1>Application Form</h1>
      <h2> </h2>
    </div>
    <div class="round-icon">
      <i><span class="fa fa-pencil"></span></i>
    </div>
  </div>

  <div class="container white-box">
    <div id="loan-application-form">
      <%= simple_form_for [current_user, @loan] do |f| %>
        <%= f.input :requested_amount,
          label: "How much do you want to borrow?",
          placeholder: "up to R15,000",
          error: "Please enter an amount between R0 and R15,000",
          input_html: { class: 'input-rounded'} %>
        <%= f.input :category,
          as: 'radio_buttons',
          collection: [['Personal', 'personal'], ['Business', 'business']],
          label_method: :first,
          value_method: :last,
          label: "What would you like to use the loan for?",
          error: "Please choose a category",
          input_html: { class: 'input-rounded'} %>
        <%= f.input :purpose, as: :hidden, collection: ['Medical', 'Beer', 'Code School'],
          label: "Choose the option that best describes your planned expenses:",
          placeholder: "Medical Expenses",
          error: "Please choose an option",
          input_html: { class: 'input-rounded', id: 'personal-dropdown' } %>
        <%= f.input :purpose, collection: ['Medical', 'Beer', 'Code School'],
          label: "Choose the option that best describes your planned expenses:",
          placeholder: "Medical Expenses",
          error: "Please choose an option",
          input_html: { class: 'input-rounded', id: 'business-dropdown' } %>
        <%= f.input :description,
          label: "Further details on your intended loan use:",
          placeholder: "Details of your loan purpose",
          error: "Please describe in more detail what you plan to use this loan for",
          input_html: { class: 'input-rounded' } %>
        <%= f.hidden_field :bank_id,
          value: Bank.find_by_name("FNB").id %>
        <%= f.submit 'Submit',
          class: 'btn-royal-blue' %>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<script>
  $('#loan_category_personal').onClick(function (e) {
    $('#personal-dropdown').show
  });
</script>
<% end %>
