<h1>Application Form</h1>

<div class="loan-form">
  <%= simple_form_for [current_user, @loan] do |f| %>
    <%= f.input :requested_amount_cents, label: "How much do you want to borrow?", placeholder: "up to R15,000", error: "Please enter an amount between R0 and R15,000" %>
    <%= f.input :category, label: "What would you like to use the loan for?", error: "Please choose a category" %>
    <%= f.input :purpose, label: "Choose the option that best describes your planned expenses:", placeholder: "Medical Expenses", error: "Please choose an option" %>
    <%= f.input :description, label: "Further details on your intended loan use:", placeholder: "Enter text here", error: "Please describe in more detail what you plan to use this loan for" %>
    <%= f.button :submit %>
  <% end %>
</div>
