<div class="wrapper-grey">
  <br>
  <div class="row white-box">
    <div class="devise-container width-alter">
      <br>
      <h1>Log in</h1>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-inputs">
          <%= f.input :mobile_number, required: true, label: false, placeholder: 'Mobile number', autofocus: true, id: "modal-mobile" %>
          <%= f.input :password, label: false, placeholder: 'Password',hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: 'btn btn-royal-blue', style: "width: 100%" %>
        </div>
      <% end %>
      <br>

     <%= render "devise/shared/links" %>

    <br>
    </div>
  </div>
</div>
