<%= simple_form_for @loan do |f| %>
    <%= f.error_notification %>

    <%= f.hidden_field :final_date, value: DateTime.now %>
    <%= f.input :decline_reason %>
    <%= f.hidden_field :status, value: "Application Declined" %>
    <div class="form-actions">
      <%#= f.button :submit, "Decline", class: "btn btn-danger" %>
    </div>
  <% end %>
