<div class="container">
  <h3 class="dashboard-title flexboxify">New Applications <span class="dashboard-count flexboxify"><%= @loans.where(status: "Application Pending").count %></span></h3>
    <div class="loan-flexbox">
      <div class="flexrow loans-header-row text-left">
        <div class="flexcell loans-header">
          Application Date
        </div>
        <div class="flexcell loans-header">
          Mobile Number
        </div>
        <div class="flexcell loans-header">
          Requested Amount
        </div>
        <div class="flexcell loans-header" id="category">
          Category
        </div>
        <div class="flexcell loans-header" id="purpose">
          Purpose
        </div>
        <div class="flexcell loans-header" id="credit-score">
          Credit Score
        </div>
      </div>

      <% @loans.order(created_at: :desc).where(status: "Application Pending").each do |application|%>
        <%= link_to bank_user_loan_path(current_bank_user, application), class: "loan-link" do%>
          <div class="flexrow loans text-left">
            <div class="flexcell loans-cell">
              <%= application.created_at.strftime("%e %b %Y") %>
            </div>
            <div class="flexcell loans-cell">
              <%= application.user.mobile_number %>
            </div>
            <div class="flexcell loans-cell loans-amount">
              <%= humanized_money_with_symbol(application.requested_amount) %>
            </div>
            <div class="flexcell loans-cell" id="category">
              <%= application.category %>
            </div>
            <div class="flexcell loans-cell" id="purpose">
              <%= application.purpose %>
            </div>
            <div class="flexcell loans-cell" id="credit-score">
              <%= render "bank_users/radial_score", score: application.user.credit_score %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
<div class="container">
<h3 class="dashboard-title flexboxify">Accepted Applications <span class="dashboard-count flexboxify"><%= @loans.where(status: "Application Accepted").count %></span></h3>
<div class="loan-flexbox">
    <div class="flexrow loans-header-row text-left">
      <div class="flexcell loans-header">
       Application Date
      </div>
      <div class="flexcell loans-header">
        Mobile Number
      </div>
      <div class="flexcell loans-header">
        Proposed Amount
      </div>
      <div class="flexcell loans-header">
        Category
      </div>
      <div class="flexcell loans-header">
        Duration
      </div>
      <div class="flexcell loans-header" id="credit-score">
        Credit Score
      </div>
    </div>

        <% @loans.order(updated_at: :desc).where(status: "Application Accepted").each do |application|%>
       <%= link_to bank_user_loan_path(current_bank_user, application), class: "loan-link" do %>
        <div class="flexrow loans text-left">
          <div class="flexcell loans-cell">
            <%= application.created_at.strftime("%e %b %Y") %>
          </div>
          <div class="flexcell loans-cell">
            <%= application.user.mobile_number %>
          </div>
          <div class="flexcell loans-cell">
            <%= humanized_money_with_symbol(application.proposed_amount) %>
          </div>
          <div class="flexcell loans-cell">
            <%= application.category %>
          </div>
          <div class="flexcell loans-cell">
            <%= application.duration_months %> months
          </div>
          <div class="flexcell loans-cell" id="credit-score">
            <%= render "bank_users/radial_score", score: application.user.credit_score %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
