<div class="container">
  <h3 class="dashboard-title flexboxify">Loans - Missed Payment <span class="dashboard-count flexboxify"> <%= @missed_payment_loans.length %></span></h3>
    <div class="loan-flexbox">
      <div class="flexrow loans-header-row text-left">
        <div class="flexcell loans-header">
          Client Name
        </div>
        <div class="flexcell loans-header">
          Missed Payment Date
        </div>
        <div class="flexcell loans-header">
          Amount Owed
        </div>
        <div class="flexcell loans-header">
          Next Payment Date
        </div>
        <div class="flexcell loans-header">
          Next Payment Amount
        </div>
        <div class="flexcell loans-header">
          Final Payment Date
        </div>
        <div class="flexcell loans-header" id="credit-score">
          Credit Score
        </div>
      </div>

      <% if @missed_payment_loans.present? %>
        <% @missed_payment_loans.each do |loan|%>
        <%= link_to "", class: "loan-link", "data-toggle" => "modal", "data-target" => "#application-#{loan.id}" do %>
          <div class="flexrow loans text-left">

            <div class="flexcell loans-cell">
              <%= loan.user.full_name %>
            </div>

              <% if loan.most_recent_payment.missed_payment? %>
                <div class="flexcell loans-cell">
                  <%= loan.most_recent_payment.due_date.strftime("%e %b %Y") %>
                </div>
                <div class="flexcell loans-cell loans-amount">
                  <%= humanized_money_with_symbol(loan.most_recent_payment.amount) %>
                </div>
              <% end %>

            <div class="flexcell loans-cell">
              <% if loan.next_payment %>
                <%= loan.next_payment.due_date.strftime("%e %b %Y") %>
              <% else %>
                <%= loan.payments.last.due_date.strftime("%e %b %Y") %>
              <% end %>
            </div>

            <div class="flexcell loans-cell loans-amount">
              <% if loan.next_payment %>
                <%= humanized_money_with_symbol(loan.next_payment.amount) %>
              <% else %>
                <%= humanized_money_with_symbol(loan.payments.last.amount)%>
              <% end %>
            </div>
            <div class="flexcell loans-cell">
              <%= loan.payments.last.due_date.strftime("%e %b %Y") %>
            </div>
            <div class="flexcell loans-cell" id="credit-score">
              <%= render "bank_users/radial_score", score: loan.user.credit_score %>
            </div>
          </div>
        <% end %>
        <div class="modal fade" id="<%= "application-#{loan.id}" %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <%= render "bank_users/show_partials/loan_outstanding", loan: loan %>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
    <h3 class="dashboard-title flexboxify">Loans - Delayed Payment <span class="dashboard-count flexboxify"> <%= @delayed_payment_loans.length %></span></h3>
    <div class="loan-flexbox">
      <div class="flexrow loans-header-row text-left">
        <div class="flexcell loans-header">
          Client Name
        </div>
        <div class="flexcell loans-header">
          Delayed Payment Date
        </div>
        <div class="flexcell loans-header">
          Amount Owed
        </div>
        <div class="flexcell loans-header">
          Next Payment Date
        </div>
        <div class="flexcell loans-header">
          Next Payment Amount
        </div>
        <div class="flexcell loans-header">
          Final Payment Date
        </div>
        <div class="flexcell loans-header" id="credit-score">
          Credit Score
        </div>
      </div>

      <% if @delayed_payment_loans.present? %>
        <% @delayed_payment_loans.each do |loan|%>
        <%= link_to "", class: "loan-link", "data-toggle" => "modal", "data-target" => "#application-#{loan.id}" do %>
          <div class="flexrow loans text-left">

            <div class="flexcell loans-cell">
              <%= loan.user.first_name + ' ' + loan.user.last_name %>
            </div>

              <% if loan.most_recent_payment.missed_payment? %>
                <div class="flexcell loans-cell">
                  <%= loan.most_recent_payment.due_date.strftime("%e %b %Y") %>
                </div>
                <div class="flexcell loans-cell loans-amount">
                  <%= humanized_money_with_symbol(loan.most_recent_payment.amount) %>
                </div>
              <% end %>

            <div class="flexcell loans-cell">
              <% if loan.next_payment %>
                <%= loan.next_payment.due_date.strftime("%e %b %Y") %>
              <% else %>
                <%= loan.payments.last.due_date.strftime("%e %b %Y") %>
              <% end %>
            </div>

            <div class="flexcell loans-cell loans-amount">
              <% if loan.next_payment %>
                <%= humanized_money_with_symbol(loan.next_payment.amount)%>
              <% else %>
                <%= humanized_money_with_symbol(loan.payments.last.amount)%>
              <% end %>
            </div>
            <div class="flexcell loans-cell">
              <%= loan.payments.last.due_date.strftime("%e %b %Y") %>
            </div>
            <div class="flexcell loans-cell" id="credit-score">
              <%= render "bank_users/radial_score", score: loan.user.credit_score %>
            </div>
          </div>
        <% end %>
        <div class="modal fade" id="<%= "application-#{loan.id}" %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <%= render "bank_users/show_partials/loan_outstanding", loan: loan %>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
<h3 class="dashboard-title flexboxify">Loans - Good Book <span class="dashboard-count flexboxify"> <%= Loan.good_loans.count %></span></h3>
<div class="loan-flexbox">
    <div class="flexrow loans-header-row text-left">
      <div class="flexcell loans-header">
       Client Name
      </div>
      <div class="flexcell loans-header">
        Capital Left
      </div>
      <div class="flexcell loans-header">
        Next Payment Date
      </div>
      <div class="flexcell loans-header">
        Next Payment Amount
      </div>
      <div class="flexcell loans-header">
        Final Payment Date
      </div>
      <div class="flexcell loans-header" id="credit-score">
        Credit Score
      </div>
    </div>

        <% Loan.good_loans.each do |loan| %>
        <%= link_to "", class: "loan-link", "data-toggle" => "modal", "data-target" => "#application-#{loan.id}" do %>
        <div class="flexrow loans text-left">
          <div class="flexcell loans-cell">
            <%= loan.user.first_name + ' ' + loan.user.last_name %>
          </div>
          <div class="flexcell loans-cell loans-amount">
            <%= humanized_money_with_symbol(loan.remaining_capital) %>
          </div>
          <div class="flexcell loans-cell">
            <%= loan.next_payment.due_date.strftime("%e %b %Y") %>
          </div>
          <div class="flexcell loans-cell loans-amount">
            <%= humanized_money_with_symbol(loan.next_payment.amount) %>
          </div>
          <div class="flexcell loans-cell">
            <%= loan.payments.last.due_date.strftime("%e %b %Y") %>
          </div>
          <div class="flexcell loans-cell" id="credit-score">
            <%= render "bank_users/radial_score", score: loan.user.credit_score %>
          </div>
        </div>
      <% end %>
      <div class="modal fade" id="<%= "application-#{loan.id}" %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <%= render "bank_users/show_partials/loan_outstanding", loan: loan %>
              </div>
            </div>
          </div>
    <% end %>
  </div>
</div>
