<div class="container">
  <h3>New Applications</h3>
    <div class="loan-flexbox">
      <div class="flexrow loans-header-row text-center">
        <div class="flexcell loans-header">
          Application Date
        </div>
        <div class="flexcell loans-header">
          Mobile Number
        </div>
        <div class="flexcell loans-header">
          Requested Amount
        </div>
        <div class="flexcell loans-header">
          Category
        </div>
        <div class="flexcell loans-header">
          Purpose
        </div>
        <div class="flexcell loans-header">
          Credit Score
        </div>
      </div>

      <% @loans.where(status: "Application Pending").each do |application|%>
      <%= link_to bank_user_loan_path(current_bank_user, application), class: "loan-link" do%>
      <div class="flexrow loans text-center">
        <div class="flexcell loans-cell text-center">
          <%= application.created_at.strftime("%e %b %Y") %>
        </div>
        <div class="flexcell loans-cell text-center">
          <%= application.user.mobile_number %>
        </div>
        <div class="flexcell loans-cell text-center">
          <%= application.display_requested_capital %>
        </div>
        <div class="flexcell loans-cell text-center">
          <%= application.category %>
        </div>
        <div class="flexcell loans-cell text-center">
          <%= application.purpose %>
        </div>
        <div class="flexcell loans-cell text-center">
          <%= application.user.credit_score %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
<div class="container">
<h3>Accepted Applications</h3>
<div class="loan-flexbox">
    <div class="flexrow loans-header-row text-center">
      <div class="flexcell loans-header">
       Application Date
      </div>
      <div class="flexcell loans-header">
        Mobile Number
      </div>
      <div class="flexcell loans-header">
        Proposed Amount
      </div>
      <div class="flexcell loans-header">
        Category
      </div>
      <div class="flexcell loans-header">
        Duration
      </div>
      <div class="flexcell loans-header">
        Credit Score
      </div>
    </div>

        <% @loans.where(status: "Application Accepted").each do |application|%>
       <%= link_to bank_user_loan_path(current_bank_user, application), class: "loan-link" do %>
        <div class="flexrow loans text-center">
          <div class="flexcell loans-cell">
            <%= application.created_at.strftime("%e %b %Y") %>
          </div>
          <div class="flexcell loans-cell">
            <%= application.user.mobile_number %>
          </div>
          <div class="flexcell loans-cell">
            <%= application.display_proposed_capital %>
          </div>
          <div class="flexcell loans-cell">
            <%= application.category %>
          </div>
          <div class="flexcell loans-cell">
            <%= application.duration_months %>
          </div>
          <div class="flexcell loans-cell">
            <%= application.user.credit_score %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
