<div class="container">
  <h3>New Applications</h3>
    <div class="standard-flexbox">
      <div class="flexrow applications-header-row text-center">
        <div class="flexcell applications-header">
          <p>Application Date</p>
        </div>
        <div class="flexcell applications-header">
          <p>Mobile Number</p>
        </div>
        <div class="flexcell applications-header">
          <p>Requested Amount</p>
        </div>
        <div class="flexcell applications-header">
          <p>Category</p>
        </div>
        <div class="flexcell applications-header">
          <p>Purpose</p>
        </div>
        <div class="flexcell applications-header">
          <p>Score</p>
        </div>
      </div>

      <% @loans.where(status: "Application Pending").each do |application|%>
      <%= link_to bank_user_loan_path(current_bank_user, application) do%>
      <div class="flexrow applications text-center">
        <div class="flexcell applications-cell">
          <%= application.created_at.strftime("%e %b %Y") %>
        </div>
        <div class="flexcell applications-cell">
          <%= application.user.mobile_number %>
        </div>
        <div class="flexcell applications-cell">
          <%= application.requested_amount_cents %>
        </div>
        <div class="flexcell applications-cell">
          <%= application.category %>
        </div>
        <div class="flexcell applications-cell">
          <%= application.purpose %>
        </div>
        <div class="flexcell applications-cell">
          <%= application.user.credit_score %>
        </div>
      </div>
    <% end %>
  <% end %>
  <h3>Accepted Applications</h3>
    <div class="flexrow applications-header-row text-center">
      <div class="flexcell applications-header">
        <p>Application Date</p>
      </div>
      <div class="flexcell applications-header">
        <p>Mobile Number</p>
      </div>
      <div class="flexcell applications-header">
        <p>Proposed Amount</p>
      </div>
      <div class="flexcell applications-header">
        <p>Category</p>
      </div>
      <div class="flexcell applications-header">
        <p>Duration</p>
      </div>
      <div class="flexcell applications-header">
        <p>Score</p>
      </div>
    </div>

        <% @loans.where(status: "Application Accepted").each do |application|%>
        <%= link_to bank_user_loan_path(current_bank_user, application) do %>
        <div class="flexrow applications text-center">
          <div class="flexcell applications-cell">
            <%= application.created_at.strftime("%e %b %Y") %>
          </div>
          <div class="flexcell applications-cell">
            <%= application.user.mobile_number %>
          </div>
          <div class="flexcell applications-cell">
            <%= application.proposed_amount_cents %>
          </div>
          <div class="flexcell applications-cell">
            <%= application.category %>
          </div>
          <div class="flexcell applications-cell">
            <%= application.duration_months %>
          </div>
          <div class="flexcell applications-cell">
            <%= application.user.credit_score %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
