<div class="row">
  <h3>Loans - Missed Payment</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th>Client Name</th>
        <th>Amount Owed</th>
        <th>Missed Payment Date</th>
        <th>Next Payment </th>
        <th>Final Payment Date</th>
        <th>Credit Score</th>
      </thead>
      <tbody>
      <% if @missed_payment_loans.present? %>
        <% @missed_payment_loans.each do |loan|%>
          <tr>
            <td><%= loan.user.first_name + ' ' + loan.user.last_name %></td>

            <% loan.payments.each do |payment| %>
              <% if payment.missed_payment? %>
                <td><%= payment.amount.currency.to_s + ' ' + payment.amount.to_s %></td>
                <td><%= payment.due_date.strftime("%e %b %Y") %></td>
              <% end %>
            <% end %>

            <td><%= loan.next_payment.due_date.strftime("%e %b %Y") %></td>
            <td><%= loan.payments.last.due_date.strftime("%e %b %Y") %></td>
            <td><%= loan.user.credit_score %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <h3>Loans - Delayed Payment</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th>Client Name</th>
        <th>Amount Owed</th>
        <th>Missed Payment Date</th>
        <th>Next Payment </th>
        <th>Final Payment Date</th>
        <th>Credit Score</th>
      </thead>
      <tbody>
      <% if @delayed_payment_loans.present? %>
        <% @delayed_payment_loans.each do |loan|%>
          <tr>
            <td><%= loan.user.first_name + ' ' + loan.user.last_name %></td>
            <% loan.payments.each do |payment| %>
              <% if payment.missed_payment? %>
                <td><%= payment.amount.currency.to_s + ' ' + payment.amount.to_s %></td>
                <td><%= payment.due_date.strftime("%e %b %Y") %></td>
              <% end %>
            <% end %>
            <td><%= loan.next_payment.due_date.strftime("%e %b %Y") %></td>
            <td><%= loan.payments.last.due_date.strftime("%e %b %Y") %></td>
            <td><%= loan.user.credit_score %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
  <div class="row">
  <h3>Loans - Good Book</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th>Client Name</th>
        <th>Capital Left</th>
        <th>Next Payment </th>
        <th>Final Payment Date</th>
        <th>Credit Score</th>
      </thead>
      <tbody>
      <% Loan.good_loans.each do |loan| %>
        <tr>
          <td><%= loan.user.first_name + ' ' + loan.user.last_name %></td>
          <td><%= loan.next_payment.amount.currency.to_s + ' ' + loan.remaining_capital.to_s %></td>
          <td><%= loan.next_payment.due_date.strftime("%e %b %Y") %></td>
          <td><%= loan.payments.last.due_date.strftime("%e %b %Y") %></td>
          <td><%= loan.user.credit_score %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
