<div class="container">
  <h3>Declined Applications</h3>
    <div class="loan-flexbox">
      <div class="flexrow loans-header-row text-left">
        <div class="flexcell loans-header">
          Application Date
        </div>
        <div class="flexcell loans-header">
          Mobile Number
        </div>
        <div class="flexcell loans-header">
          Requested Amount
        </div>
        <div class="flexcell loans-header">
          Decline Date
        </div>
        <div class="flexcell loans-header" id="decline-reason">
          Rationale for the Decline
        </div>
        <div class="flexcell loans-header" id="credit-score">
          Credit Score
        </div>
      </div>

      <% @loans.where(status: "Application Declined").each do |application|%>
      <%= link_to bank_user_loan_path(current_bank_user, application), class: "loan-link" do%>
      <div class="flexrow loans text-left">
        <div class="flexcell loans-cell">
          <%= application.created_at.strftime("%e %b %Y") %>
        </div>
        <div class="flexcell loans-cell">
          <%= application.user.mobile_number %>
        </div>
        <div class="flexcell loans-cell">
          <%= humanized_money_with_symbol(application.requested_amount) %>
        </div>
        <div class="flexcell loans-cell">
          <%= application.final_date.strftime("%e %b %Y") %>
        </div>
        <div class="flexcell loans-cell" id="decline-reason">
          <%= application.decline_reason %>
        </div>
        <div class="flexcell loans-cell" id="credit-score">
          <%= application.user.credit_score %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>

