<div class="dashboard-header">
  <div class="item">
    <div>
      <p><%= humanized_money_with_symbol(current_bank_user.bank.net_balance_sheet) %></p>
      <h3>Net Balance Sheet</h3>
    </div>
    <div>
      <p><%= current_bank_user.bank.pending_response %></p>
      <h3>Number of pending applications</h3>
    </div>
    <div>
      <p><%= current_bank_user.bank.pending_repayment %></p>
      <h3>Number of loans pending repayment</h3>
    </div>
  </div>

  <div class="item">
    <div>
      <p><%= current_bank_user.bank.average_score_of_active_customers.round(2) %></p>
      <h3>Average credit score of customers with outstanding loans</h3>
    </div>
    <div>
      <p><%= current_bank_user.bank.average_score_of_pending_customers.round(2) %></p>
      <h3>Average credit score of users with pending applications</h3>
    </div>
  </div>

  <div class="item">
    <div>
      <p><%= current_bank_user.bank.customers_count %></p>
      <h3>Total number of customers with outstanding loans</h3>
    </div>
    <div>
      <p>75%</p>
      <h3>Customer retention rate</h3>
    </div>
    <div>
      <p><%= current_bank_user.bank.total_users_count %></p>
      <h3>Total number of customers</h3>
    </div>
  </div>
</div>


<div class="dashboard-row">
  <div class="data-graph" id="loan-repayments">
  <%= render 'bank_users/graphs/credit_score_graph' %>
  </div>
  <div class="data-graph" id="approval-rate">
    <%= render 'bank_users/graphs/approval_rate' %>
  </div>
</div>

<div class="dashboard-row">
  <div class="data-graph">
    <%= render 'bank_users/graphs/telco_pie' %>
  </div>
  <div class="data-graph">
    <%= render 'bank_users/graphs/age_pie' %>
  </div>
</div>

<div class="data-graph" id="user-geolocation">
  <%= render 'bank_users/graphs/google_map' %>
</div>

