<div class="container">
    <h3 class="dashboard-title flexboxify">Loans Repaid <span class="dashboard-count flexboxify"><%= Loan.where(status: "Loan Repaid").length %></span></h3>
    <div class="loan-flexbox">
      <div class="flexrow loans-header-row text-left">
        <div class="flexcell loans-header">
          Client Name
        </div>
        <div class="flexcell loans-header">
          Initial Capital
        </div>
        <div class="flexcell loans-header">
          Last Payment Date
        </div>
        <div class="flexcell loans-header">
          Last Payment Amount
        </div>
        <div class="flexcell loans-header">
          Total Paid
        </div>
        <div class="flexcell loans-header" id="credit-score">
          Credit Score
        </div>
      </div>

        <% Loan.order(final_date: :desc).where(status: "Loan Repaid").each do |loan|%>
        <%= link_to bank_user_loan_path(current_bank_user, loan), class: "loan-link" do%>
        <div class="flexrow loans text-left">
          <div class="flexcell loans-cell">
            <%= loan.user.first_name + ' ' + loan.user.last_name %>
          </div>
          <div class="flexcell loans-cell loans-amount">
            <%= humanized_money_with_symbol(loan.agreed_amount) %>
          </div>
          <div class="flexcell loans-cell">
            <%= loan.payments.last.due_date.strftime("%e %b %Y") %>
          </div>
          <div class="flexcell loans-cell loans-amount">
            <%= humanized_money_with_symbol(loan.payments.last.amount) %>
          </div>
          <div class="flexcell loans-cell">
            <%= humanized_money_with_symbol(loan.total_capital_repaid) %>
          </div>
          <div class="flexcell loans-cell" id="credit-score">
            <%= render "bank_users/radial_score", score: loan.user.credit_score %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

