  <div class="tabs">
    <%= link_to applications_bank_user_path(current_bank_user),
        class: "tab active",
        id: "applications-tab", remote: true do %>
      <h3>Applications</h3>
    <% end %>

    <%= link_to outstanding_bank_user_path(current_bank_user
), class: "tab", id: "outstanding-tab",
        remote: true do %>
      <h3>Loans Outstanding</h3>
    <% end %>

    <%= link_to declined_bank_user_path(current_bank_user
), class: "tab", id: "declined-tab",
        remote: true do %>
      <h3>Applications Declined</h3>
    <% end %>

    <%= link_to repaid_bank_user_path(current_bank_user),
        class: "tab", id: "repaid-tab", remote: true do %>
      <h3>Loans Repaid</h3>
    <% end %>

    <%= link_to portfolio_bank_user_path(current_bank_user),
        class: "tab",
        id: "portfolio-tab", remote: true do %>
      <h3>Portfolio</h3>
    <% end %>
  </div>

<div class="wrapper-grey flexboxify">
  <div class="container">
    <div id="tab-content">
      <!-- Tab content is loaded via AJAX -->
      <div class="0" id="loan-applications-content">
        <div class="spinner"><%= render 'bank_users/spinner' %></div>
      </div>
      <div class="1 hidden" id="loans-outstanding-content">
        <div class="spinner"><%= render 'bank_users/spinner' %></div>
      </div>
      <div class="2 hidden" id="loans-declined-content">
        <div class="spinner"><%= render 'bank_users/spinner' %></div>
      </div>
      <div class="3 hidden" id="loans-repaid-content">
        <div class="spinner"><%= render 'bank_users/spinner' %></div>
      </div>
      <div class="4 hidden" id="portfolio-content">
        <div class="spinner"><%= render 'bank_users/spinner' %></div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
      // stores the anchor from the url in a variable
      var hash = window.location.hash;

      // If page is reloaded then the same tab will be shown
      if (hash !== "") {
        $('.tab').removeClass("active");
        $(hash + '-tab').addClass("active");
        var childIndex = $(hash + '-tab').index();
        $('#tab-content').children().addClass("hidden");
        $('.' +childIndex).removeClass("hidden");
      }

      // This makes sure to load the active tab content when first loading the page
      $('.active').trigger('click');

      // Clicking on a different tab changes the content shown on the page
      $('.tab').on('click', function(event){
        $('.tabs').children().removeClass("active");
        $(this).addClass("active");
        var childIndex = $(this).index();
        $('#tab-content').children().addClass("hidden");
        $('.' +childIndex).removeClass("hidden");
        window.location.hash = $(this).attr('id').split("-")[0];
      })


    $(document).ajaxComplete(function(){

      // Re-opens modal if there was no decline reason entered when declining an application
      console.log(<%= @application_id %>)
      <% if @application_id.present? %>
        var applicationID = <%= @application_id %>
        var applicationSelector = '#application-' + applicationID;
        $(applicationSelector).modal('toggle');
        $(applicationSelector).on('shown.bs.modal', function(){
          $('[target="#decline-form-' + applicationID + '"]').trigger('click');
          $('#decline-form-' + applicationID + ' .help-block').css("color", "red");
          $('#loan_decline_reason').attr("placeholder", "Please enter a reason!")
        });

      <% end %>
    })
  </script>
<% end %>
