<div class="container">
  <h1><%= @user.first_name + ' ' + @user.last_name %> Client Overview</h1>

  <div class="row">
    <h2>Client Details</h2>
    <div class="col-sm-6">
      <p><strong>First Name:</strong> <%= @user.first_name %></p>
      <p><strong>Last Name:</strong> <%= @user.last_name %></p>
      <p><strong>Mobile Number:</strong> <%= @user.mobile_number %></p>
    </div>
    <div class="col-sm-6">
      <p><strong>Address:</strong> <%= @user.address %></p>
      <p><strong>City:</strong> <%= @user.city %></p>
      <p><strong>Postcode:</strong> <%= @user.postcode %></p>
    </div>
  </div>

  <div class="row">
    <h2>Client Scoring & History</h2>
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">

    </div>
  </div>

  <div class="row">
    <h2>Loans</h2>
  </div>

  <div class="row">
    <h2>Applications</h2>
  </div>

</div>
