<!DOCTYPE html>
<html>
  <head>
    <title>Stride - Mobile Loans</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>
  <body>
    <% if bank_user_signed_in? %>
    <%= render 'shared/bank_navbar' %>
    <% else %>
    <%= render 'shared/navbar' %>
    <% end %>
    <% render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV['GOOGLE_API_BROWSER_KEY']%>"></script>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
